.modal-detail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: var(--overlay-color);
  z-index: 1;
}

.modal-detail__wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  padding: 0 38px 45px 38px;

  width: 496px;
  height: 747px;
  background: var(--light-color);
  box-shadow: 0px 0px 60px var(--shadow-color);
  backdrop-filter: blur(2px);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-detail__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-detail__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}

.modal-detail__picture {
  width: 314px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.modal-detail__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.modal-detail__buttons {
  display: flex;
  gap: 70px;
}

.modal-detail.open {
  display: block;
}
