.btn {
  min-width: 175px;
  padding: 18px 23px;
  color: var(--light-color);
  font-family: "Inter";
  font-size: 27px;
  font-weight: var(--fw-normal);
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn--delete {
  background: var(--button-color);
  border-radius: 5px;
}

.btn--save {
  color: var(--text-color);
  background: #c4c4c4;
}

.btn--submit {
  background: var(--primary-color);
  border-radius: 5px;
}
