* {
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

.main-content {
  margin-top: 35px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container--lg {
  width: 100%;
}

.main-content {
  margin-top: 20px;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-inline {
  display: inline;
}

.d-none {
  display: none;
}
