:root {
  /* Font               */
  --primary-font: "Inter";
  /* End font           */

  /* Sizing             */
  --fw-extrabold: 800;
  --fw-normal: 400;
  --fw-light: 300;
  /* End sizing         */

  /* Color              */
  --primary-color: #b78bff;
  --secondary-color: #2036f7;
  --text-color: #000000;
  --button-color: #ff0000;
  --error-color: #ff0000;
  --button-second-color: #c4c4c4;
  --light-color: #ffffff;
  /* End color          */
}
