.language {
  position: relative;
  padding: 35px 100px;
  background: var(--primary-color);
  border-radius: 10px;
}

.language__list {
  display: flex;
  gap: 60px;
  overflow-x: scroll;
  /* scrollbar-color: red;
  scroll-margin-top: 20px; */
}

.language__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background: var(--light-color);
  border: 1px solid transparent;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.language__item:hover,
.language__item.active {
  color: var(--primary-color);
  border: 1px solid var(--text-color);
}

.language__delete {
  width: 25px;
  height: 25px;
  margin-left: 30px;
  opacity: 0.1;
  cursor: pointer;
}

.language__delete:hover {
  opacity: 1;
}

.language__add {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  cursor: pointer;
}

.language__add:hover {
  opacity: 1;
}

/* .language__list::-webkit-scrollbar {
  width: 200px;
} */

/* .language__list::-webkit-scrollbar-track {
  margin: 20px;
}

.language__list::-webkit-scrollbar-thumb {
  background-color: var(--light-color);
} */
