.main-header {
  padding: 36px 0 26px 0;
  background: var(--primary-color);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 40px;
  padding: 5px 13px;
  border-radius: 20px;
  background: var(--light-color);
}

.header__search__input {
  width: 100%;
  border: none;
  outline: none;
}

.header__search__icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header__search__icon:hover {
  opacity: 0.5;
}

.header__logout {
  position: relative;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  cursor: pointer;
}

.header__logout:hover {
  opacity: 0.7;
}

.header__logout::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 110px;
  height: 1px;
  background: var(--light-color);
}
