.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
  border-radius: 15px;
}

.login-form__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-form__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-form__inputs {
  display: flex;
  width: 350px;
  flex-wrap: wrap;
}

.login-form__icon {
  margin-right: 20px;
  width: 30px;
  height: 40px;
}

.login-form__input {
  width: 291px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.login-form__button {
  width: 100%;
}

.login-form__input + p {
  padding: 10px 0 0 50px;
  visibility: hidden;
}

.login-form__input + p.active {
  visibility: visible;
  color: var(--error-color);
}

.error {
  border: 1px solid var(--error-color);
}
